{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <div class="example-wrapper col-6">

        <h1>Login page! ✅</h1>

        {% if error %}
            <span class="error">{{ error.messageKey }}</span>
        {% endif %}

        <form action="{{ path('login') }}" method="POST">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="_email" id="email" value="{{ last_username}}" placeholder="Your email">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="_password" id="password" placeholder="Your password">
            <input type="hidden" name="csrf_user_token" value="{{ csrf_token('authenticate') }}">
            <div class="gap"></div>
            <button class="btn" type="submit">Login</button>
        </form>
    </div>

{% endblock %}