{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <div class="example-wrapper col-6">

        <h1>Administrator login page! ✅</h1>

        {% if error %}
            <span class="error">{{ error.messageKey }}</span>
        {% endif %}

        <form action="{{ path('admin_login') }}" method="POST">
            <label for="username">Username</label>
            <input class="form-control" type="username" name="_username" id="username">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="_password" id="password">
            <input type="hidden" name="csrf_admin_token" value="{{ csrf_token('authenticate') }}">
            <div class="gap"></div>
            <button class="btn" type="submit">Login</button>
        </form>
    </div>

{% endblock %}